.profile-icon  {
    max-width: 15%;
    max-height: 15%;
    margin-right: 10px;
}

.comment-textbox {
    background-color: #28282b;
    border: solid 1px;
    border-radius: 6px;
}

.post-name:hover {
    color: #c8aa6e;
    text-decoration: underline;
    cursor: pointer;
}